<!DOCTYPE html>

<html lang="pt-br">
	<style type="text/css">
		
		#cat {width: 140px; height: 40px;}
		#buscar { width:210px; height:40px; margin-bottom: 20px;}
		
	</style>

	<head> 
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />

    	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js"></script> 
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>

		<link rel="stylesheet" type="text/css" media="all" href="style.css">
		<script type="text/javascript" src="angular.js"></script>
	</head>

	<body ng-app="githubSearch">
	<div class="container wrapper" ng-controller="MainCtrl">

		<div class="header" align="center">
			<div class="logoGithub">
				<img id=imglogo src="github-logo.png"/> 
			</div>


			<div class="col-xs-8 col-xs-offset-2">
				<div class="search">
					<select ng-model="searchCategory" class="form-control" id="cat" ng-options="cat.name as cat.name for cat in categories"></select>
					<input type="text" class="form-control" id="buscar" ng-model="searchuser" placeholder="Username ..." on-enter="doSearch()">
            	</div>
            </div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 text-center project" ng-repeat="result in results | 
			offset: pconfig.currentPage*pconfig.itemsPerPage | limitTo: pconfig.itemsPerPage">
            
            <div class="panel panel-info clearfix">
                <div class="panel-heading">
                    <a ng-href="{{result.url}}" class="color-primary" title="Ir para a pagina" target="_blank">
                        <h4>{{result.title}}</h4>
                    </a>
                </div>
                
                <div class="panel-body">
                    <div class="general-description clearfix">
                        <div class="col-sm-6">
                            <img ng-src="{{result.owner.avatarUrl}}" />
                            <a ng-href="{{result.owner.profileUrl}}" title="Ir para perfil" target="_blank">
                                <span my-truncate="{{result.owner.name}}"></span>
                            </a>
                        </div>
                        
                        <div class="col-sm-6 text-left">
                            <div ng-show="result.createdAt">
                                <span>Created:</span>
                                <i>{{result.createdAt | date}}</i><br/>
                            </div>
                            <div ng-show="result.watchers">
                                <span>Watchers:</span>
                                <b>{{result.watchers}}</b><br/>
                            </div>
                            <span>Score:</span>
                            <label class="label label-success">{{result.score | number:2}}</label>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <p>{{result.description}}</p>
                    </div>
				</div> <!-- fim div panel body-->
            </div> <!--fim div panel info-->
        </div>
		

<div id="pagination" class="text-center"></div>



	</div>
	</body>
</html>